*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    background: #666666;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    justify-content:center;
    align-items: center;
}

.card{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    border-radius:25px;
    background-color: #ffffff;
    box-shadow: 10px 0 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.card:nth-child(1){
    margin-right:30px;
}
.card:nth-child(2){
    margin-right:30px;
}
body:hover .card{
    filter: blur(15px);
    transform: scale(0.9);
    opacity: 0.5;
    transition: 0.9s;
}
body .card:hover{
    filter: blur(0);
    transform: scale(1.1);
    opacity: 1;
    transition: 0.9s;
}

h2{
    position: absolute;
    left: 0;
    top: 0;
    margin: 20px 0 0 20px;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 15px;
    color: #ffffff;
    mix-blend-mode: difference;
}
p{
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 20px 60px 20px;
    font-size: 18px;
    color: #ffffff;
    mix-blend-mode: difference;
}
.content a{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 20px 20px 0;
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
    font-size: 28px;
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
    box-shadow: 10px 0 50px rgba(0, 0, 0, 0.5);
}
.pic{
    border-radius: 50%;
    height:200px;
    width:200px;   
    align-self: center;
    box-shadow: #175240;
}